* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 0px;
    background-color: whitesmoke;
}

header {
    position: sticky;
    display: grid;
    grid-template-areas:
        'h1 h1'
        'pr cesto';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    text-align: center;
    background-color: #980000;
    color: whitesmoke;

    h1 {
        grid-area: h1;
        margin: 3%;
    }

    a {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: large;
    }

    a#produtos {
        grid-area: pr;

    }

    a#cesto {
        grid-area: cesto;

    }
}

main {

    background-color: whitesmoke;
}

h2 {
    grid-area: subTitulo;
    font-size: medium;
    text-align: center;
}

h3{
    text-align: center;
}

article:nth-child() {
    grid-area: produto;
}


article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;

}

/*Titulo*/
article :first-child {
    grid-area: titulo;
    text-align: center;
    font-weight: bold;
}

article :nth-child(3) {
    grid-area: preco;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

/*Descrição*/
article :nth-child(4) {
    grid-area: descricao;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2%;
    padding: 5px;
    font-style: italic;
    background-color: lightgrey;
}

img {
    grid-area: imagem;
    width: 20vw;
}

button {
    grid-area: botao;
    margin-bottom: 10px;
}

/*Cesto*/
aside {
    padding: 10px;
    background-color: darkgray;
    row-gap: 20px;

    article :nth-child(3) {
        background-color: white;
        font-size: large;
        font-style: normal;
        font-weight: bold;
    }
}
p#preco{
    grid-area: preco;
    text-align: center;
}

footer {
    margin-bottom: 0px;
    text-align: center;
}
section#filtros {
    grid-area: filtros;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px;
    padding: 10px;
    background-color: white;
    
}


@media screen and (min-width: 700px) {
    header {
        display: grid;
        grid-template-areas: "h1 pr cesto";
        grid-template-columns: 5fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    article {
        
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
    }

    h1 {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }

    a {
        display: flex;
        align-items: center;
    }

    img {
        width: 10vw !important;
    }

    main {
        display: grid;
        grid-template-areas:
            'subTitulo subTitulo subTitulo'
            'filtros filtros filtros'
            'produto  produto  produto';
        
        grid-template-rows: 40px 100px 1fr;

    }

    section {
        display: grid;
        grid-template-areas:
            'produto  produto  produto';

        grid-template-columns: 1fr 1fr 1fr;
    }
}