* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (max-width: 700px) {
    body {
        background-color: blue;
    }

    iframe {
        width: 100% !important;
      
        text-align: center;
        align-self: center;
    }

    img {
        width: 85vw !important;
    }

    #foto{
        img {
            width: 25vw !important;
        }
    }


    pre {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        font-size: 13px !important;
        overflow-x:visible;
    }
}


header {
    grid-area: header-area;
    margin: 0px;
    padding: 10px;
    border: 0px #006900;
    border-radius: 0px;
    background-color: #006900;
    color: white;
    text-align: center;
}

nav {
    grid-area: menu-area;
    margin: 10px;
    padding: 15px;
    border: 20px whitesmoke;
    border-radius: 2px;
    background-color: #006900;
    color: white;
    text-align: center;

    a {
        color: white;
        margin: 10px;
        text-decoration: none;
    }

    a:hover {
        background-color: #980000;
        border-radius: 10px;
        color: black;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }
}

body {
    margin: 0px;
    background-color: whitesmoke;
}

main {
    grid-area: main-area;
    padding: 5px;
    text-align: center;
    margin: 10px black;

    a {
        margin: 5px;
        padding: 5px;
        border: 10px;
        border-radius: 2px;
        background-color: white;
        color: #980000;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
    }
}

main#arroz {
    text-align: left;
    border-color: red;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;

    section {
        margin: 20px;
        background-color: white;
    }
}

section {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-color: red;
    background-color: white;
    text-align: start;


    ol {
        :nth-child(2n) {
            color: #980000;
        }

        :nth-child(2n-1) {
            color: #006900
        }

    }

    ul {

        :nth-child(2n) {
            color: #980000;
        }

        :nth-child(2n-1) {
            color: #006900;
        }
    }

    tr:nth-child(1) {
        background-color: #006900;
        color: white;
    }

    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: white;
        padding: 1px;
        color: #006900;
    }
}

pre {
    text-align: center;
}


footer {
    grid-area: footer-area;
    bottom: 0px;
    padding: 10px;
    background-color: #980000;
    color: whitesmoke
}


label {
    font-size: small;
}

input {
    font-size: medium;
}

input {
    display: block;
    margin-bottom: 10px;
}

th {
    padding: 5px;
}

section#Fotografias {
    h3 {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    div {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }

    a:hover {
        cursor: zoom-in;
        margin: 0px;

    }
}

#poema {
    display: flex;
    justify-content: center;
    align-content: center;

}

#video {
    text-align: center;
}

aside {
    grid-area: aside-area;
    background-color: white;
    margin: 10px;
    padding-left: 10px;
    border-radius: 20px;

    .material-icons {
        font-size: 50px;
        color: #006900
    }

    div {
        display: flex;
        gap: 20px;
    }
}